tenancy_ocid         = "ocid1.tenancy.oc1..xxxx"
user_ocid            = "ocid1.user.oc1..xxxx"
fingerprint          = "xx:xx:xx:..."
private_key_path     = "./your-oci-api-key.pem"
compartment_ocid     = "ocid1.tenancy.oc1..xxxx"
ssh_public_key_path  = "./your-ssh-key.key.pub"
github_token         = "github_pat_xxxx"
cloudflare_api_token = "xxxx"
cloudflare_zone_id   = "xxxx"
domain_name          = "example.com"